.contact {
  padding: 64px 0;
  background-color: var(--hero__background-color);
}

.contact__container {
  text-align: center;
}

.contact__container-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 55px;
  color: var(--header__bg-color);
  font-family: "Open Sans Condensed", sans-serif, "Arial";
}

.contact__list {
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
