:root {
  --nav__link-color: #222;
  --header__bg-color: #ffffff;
  --services__text-color: #444;
  --hero__background-color: #0eb4c1;
  --nav-entrollment__bg-color: #de2e54;
  --services-img-box-shadow__color: rgba(0, 107, 116, 0.3);
}
