.footer {
  padding: 24px 0;
  background-color: var(--nav__link-color);
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__list {
  gap: 32px;
  display: flex;
  align-items: center;
}

.footer__item-link {
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--header__bg-color);
}

.footer-logo-text {
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  color: var(--header__bg-color);
}
