.header {
  top: 0;
  padding: 24px 0;
  position: sticky;
  background-color: var(--header__bg-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-text {
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  color: var(--nav__link-color);
}
