.nav {
  @media only screen and (max-width: 870px) {
    display: none;
  }
}

.nav__list {
  gap: 32px;
  display: flex;
  align-items: center;
}

.nav__item-link {
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--nav__link-color);
  transition: color 250ms linear;
  -o-transition: color 250ms linear;
  -ms-transition: color 250ms linear;
  -moz-transition: color 250ms linear;
  -webkit-transition: color 250ms linear;
}

.nav__item-link:hover {
  color: var(--nav-entrollment__bg-color);
}

.nav__item-link:active {
  opacity: 0.6;
}
